/*
File Name: Options Custom
Description: Custom css for theme options
Version: 1.0
Author: Satrya
Since: 0.0.6
License: GNU General Public License v2
License URI: license.txt
*/
#optionsframework-metabox {
  margin-right: 305px;
}

#optionsframework {
  display: inline;
  float: left;
  max-width: 100%;
  width: 100%;
}
#optionsframework .controls .of-radio-img-img {
  height: 70px;
  width: 90px;
}

#optionsframework-sidebar {
  display: inline;
  float: right;
  width: 280px;
}
#optionsframework-sidebar a {
  text-decoration: none;
}
#optionsframework-sidebar .metabox-holder {
  padding-top: 0;
}

#wpbody-content #optionsframework-sidebar .metabox-holder {
  padding-top: 0;
}

.tiga-support {
  display: block;
  margin: 10px 0;
  text-align: right;
}
.tiga-support a {
  margin-left: 10px;
  position: relative;
  top: -8px;
}
.tiga-support span {
  display: inline-block;
  margin-left: 10px;
}
.tiga-support span a {
  top: 0;
}
